[2013-03-03 15:54] henry74 opened #1 "QUESTION: Why do you need RMagick?"
It seems like the images returned are URLs directly from the source and not thumbnails generated and saved locally.

If they are saved locally, how do you refer to them through the link_thumbnailer? Can you provide an example?  It seems the generator method simply provides url references to the original images.

Thanks,
Henry

[2013-03-04 17:36] henry74 opened #2 "QUESTION: Possible to send in redirect_limit as parameter to generate method?"
I'm using link_thumbnailer as a gem and I'd like to set the redirect_limit without falling back to a config.  Is this possible?  I know top and limit are supported, but it didn't seem like redirect_limit was a valid parameter.

Thanks for the great gem.

Henry

[2013-03-07 19:58] henry74 opened #3 "Error with rails g link_thumbnailer:install"
[code]

[code]

[2013-03-09 21:28] #2 closed, assigned to gottfrois

[2013-03-09 21:28] #3 closed, assigned to gottfrois

[2013-03-26 03:05] henry74 opened #4 "Final url not being returned?"
I'm noticing the final url returned isn't correct when parsing rss feeds.  For example, here's an example here's the provided url:
http://feedproxy.google.com/~r/OmMalik/~3/GRc26tJHn2o/story01.htm

The returned url is:
http://feedproxy.google.com

The proper url is:
http://gigaom.com/2012/12/19/lumo-body-tech-maker-of-kickstarter-supported-anti-slouching-sensor-raises-5m/

It would be great if it

[2013-03-27 17:27] #4 closed, assigned to nobody

[2013-03-28 03:06] bao1018 opened #5 "Wrong Document Link return from Thumbnails in some cases"
For some URL link, the thumbnails did not return a correct url of the real article position.
e.g. I want to generate thumbnail for http://feedproxy.google.com/~r/GizmagEmergingTechnologyMagazine/~3/pv89_2R2eug/, the real url is
http://www.gizmag.com/google-motorola-x-phone/25543/

I test in IRB:
1.9.3p286 :001 > require "bundler/setup"
 => true
1.9.3p286 :002 > require 'open-uri'
 => true
1.9.3p28

[2013-03-31 15:18] #5 closed, assigned to gottfrois

[2013-04-19 06:28] bao1018 opened #6 "Question : Can I set up a Timeout when I use this gem?"
Does this gem support timeout setting ?

Right now, when I use link_thumbnailer to access some specific sites, the return are very slow (This may due to networking issue). In this case, my entire app hangs, can you help me? Thanks!

[2013-04-22 07:11] #6 closed, assigned to nobody

[2013-04-26 21:44] phlegx opened #7 "NoMethodError: undefined method `rows' for nil:NilClass"
Hi,

very nice Gem and the code looks very structured and clean!

I have the following issue:

<pre>
irb(main):001:0> object = LinkThumbnailer.generate('http://www.faz.net/aktuell/politik/ausland/europa/enrico-letta-im-portraet-nervenstarker-problemloeser-12160978.html')
NoMethodError: undefined method `rows' for nil:NilClass
    from /home/user/.rvm/gems/ruby-2.0.0-p0@project/gems/link_thumbnaile

[2013-04-28 11:51] phlegx opened #8 "forked repository rspec errors"
When I try to fork ad clone your repository and then directly run the rspec tests, I get the following errors:

<pre>
Failures:

  1) LinkThumbnailer::WebImage.to_hash with default attributes
     Failure/Error: subject { foo.to_hash }
     NoMethodError:
       undefined method `rmagick_attributes' for nil:NilClass
     # ./lib/link_thumbnailer/web_image.rb:8:in `to_hash'
     # ./spec/web_image_

[2013-05-01 13:29] #7 closed, assigned to nobody

[2013-05-01 13:37] #8 closed, assigned to nobody

[2013-05-04 08:09] gottfrois opened #12 "Setting configs at runtime are memoized"
When we set configs at runtime like so `LinkThumbnailer.generate('http://foo.com', strict: false)` then configs are memoized to the class itself.

Doing the following will result in using the `strict` config above:

[code]

[2013-05-04 08:11] gottfrois opened #13 "Always returning OpenGraph representation when non-strict"
When setting `strict: false` it will always return the OpenGraph representation even if the website does not implement it:

[code]

[2013-05-04 17:51] #13 closed, assigned to nobody

[2013-05-05 18:27] phlegx opened #14 "Support for more then one og:image"
Can a page have more then one og:image? If yes, then it would be nice to get all of the image urls back.

I found that this site for example has 3 http://positivemed.com/2013/04/24/juicing-blending-or-both/

[2013-05-24 08:12] phlegx opened #15 "Open Graph fallback mechanism"
Hi gottfrois!

I noticed that on a huge amount pages we do have all open-graph properties but the description is missing.

Example: http://www.format.at/articles/1321/931/358773/eu-kommission-europafeindliche-parteien

What would you think about something like a fallback mechanism for which can be enabled via the configuration file? For example if we detect an og page then we do fetch the properti

[2013-06-10 14:48] cryptomatictrader opened #17 "Nil object returned by the 'generate' method"
Hi there, I'm using 1.0.8 version and wonder by it returns a nil object even it is a well-known url, i.e.

2.0.0-p195 :005 > LinkThumbnailer.generate('http://www.safeway.com')
 => nil

But other urls seem to be fine, e.g.

2.0.0-p195 :007 > LinkThumbnailer.generate('http://www.hulu.com')
 => #<LinkThumbnailer::Object description="Watch TV shows and movies free online. Stream episodes of The Office

[2013-06-22 21:04] bhill78 opened #18 "Images hash contains blank objects"
I'm trying to get the url preview image carousel to display however images hash in the response shows only empty objects. I'm completely stumped.

 See below:

[code]

[2013-06-23 16:57] #17 closed, assigned to gottfrois

[2013-06-23 21:23] #18 closed, assigned to nobody

[2013-08-23 11:42] jeremygoh opened #19 "No title or image returned for google.co.uk"
Initially Linkthumbnailer.generate for http://google.co.uk and all other google domains was returning nil.

After setting strict to false in link_thumbnailer.rb, we are now getting an object. However, this object only contains the URL and not the title or any images.

This doesn't seem to be an issue with any other URL.

[2013-09-16 15:47] #19 closed, assigned to nobody

[2013-10-21 15:09] Poncio opened #20 "Create database rails"
Hallo, your gem works very well and i really love it!
THIS IS MY PROBLEM.
I don't understand how to save date in my rails database.
I want save image and the little description but how i can do it?
I have to create a controller and a model? could you give me a little example?

thank you   ;-)

[2013-10-22 20:40] #20 closed, assigned to nobody

[2013-12-12 18:18] arjunmenon opened #21 "no preview for redirected url's"
hi
the preview does not extracts content if u put in a url which redirects to some other url. what may be the issue

[2013-12-13 10:01] #21 closed, assigned to nobody

[2014-01-27 03:52] bao1018 opened #27 "Readme Not Work for the link_thumbnailer 2.0.0 dev"
I want to use  link_thumbnailer 2.0 (I want to use JRuby, so I had to use the 2.0 dev version), but I don't know use it since the README on that version doesn't work.

[2014-02-06 18:53] wordica opened #28 "Error in routes.rb"
Rails 4.0.0 , ruby 1.9.3p448 (2013-06-27 revision 41675)

undefined local variable or method `use_link_thumbnailer' for #ActionDispatch::Routing::Mapper:0x007fe514b1a048

[2014-02-07 08:49] #27 closed, assigned to nobody

[2014-02-25 19:59] #1 closed, assigned to nobody

[2014-02-25 20:18] #28 closed, assigned to nobody

[2014-03-07 01:42] viruthagiri opened #32 "Not working with some urls"
I tried link thumbnailer with this url

http://programmaticallyspeaking.com/why-i-hate-implicit-return-in-coffeescript.html

It returns nil

Also I tried http://stackoverflow.com/

Description has null value

[2014-03-21 07:50] lolmaus opened #33 "Demo app broken: POST http://link-thumbnailer-demo.herokuapp.com/link/preview 500 (Internal Server Error)"

[2014-04-04 21:51] ashrestha91 opened #34 "FastImage vs Hash"
I see that `LinkThumbnailer.generate` returns either a FastImage object or a Hash depending on the website.  I'm trying to use this to generate a thumbnail and display it, but the interfaces for these don't match, specifically for getting the source URL.

It looks like the gem wants you to use the JSON endpoint instead of directly working with the objects, and from there, the interfaces are standa

[2014-04-18 20:08] #34 closed, assigned to nobody

[2014-04-30 18:48] #14 closed, assigned to gottfrois

[2014-05-04 14:11] #15 closed, assigned to gottfrois

[2014-05-06 13:58] #32 closed, assigned to nobody

[2014-05-06 14:49] #12 closed, assigned to gottfrois

[2014-05-30 16:34] dc85 opened #37 "Problem parsing url"
comparison of LinkThumbnailer::Models::Description with LinkThumbnailer::Models::Description failed

object = LinkThumbnailer.generate("http://www.google.com")

[2014-05-30 18:00] #37 closed, assigned to nobody

[2014-06-01 16:37] miriyas opened #38 "problem when running demo with specific link."
http://link-thumbnailer-demo.herokuapp.com/
with this url - http://blog.daum.net/miriya

"Uncaught TypeError: Cannot read property 'title' of null"
I got this message from Chrome console.

another link works fine. like - http://daum.net

[2014-06-01 16:50] #38 closed, assigned to nobody

[2014-06-09 08:44] metalelf0 opened #39 "Errno::ENAMETOOLONG: File name too long - data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAd0AAAC"
Hi, I found an issue with embedded images. You can see it trying to generate images for a website like www.trello.com, which has an embedded PNG on their home page.

Here is the relevant part of the stacktrace:

[code]

Thanks a lot!

[2014-06-09 16:18] #39 closed, assigned to nobody

[2014-06-10 20:32] zuf opened #40 "Favicon scraper"
Could you add favicon scraper, please.

[2014-07-06 22:24] wuliwong opened #41 "Zlib::DataError (unknown compression method)"
[code]

Produces this error:

[code]

I would assume it is related to this issue https://github.com/lostisland/faraday/issues/120.

[2014-07-07 17:27] chuenlok opened #42 "LinkThumbnailer::RedirectLimit : LinkThumbnailer::RedirectLimit"
http://www.nytimes.com/2014/07/08/nyregion/for-head-of-new-york-tourism-55-million-visitors-isnt-enough.html?hp&action=click&pgtype=Homepage&version=LargeMediaHeadlineSum&module=photo-spot-region&region=photo-spot&WT.nav=photo-spot&_r=0

got the error while generate from this url

[2014-07-07 20:37] #42 closed, assigned to nobody

[2014-07-19 12:48] #41 closed, assigned to nobody

[2014-08-28 18:33] marunbai opened #43 "Only one image get returned"
When I trying to get preview of this link:

http://mashable.com/2014/08/28/hello-kitty-twitter-reactions/

Only 1 picture get returned and I am using the default image_limit. Is there any condition that filtered images? It is better to let the user choose which picture they want to use.

[2014-09-15 04:24] clintonjnelson opened #44 "Amazon.com Pages - 500 Internal Server Error"
Some Amazon.com product pages are consistently working, but most are consistently resulting in a 500 Internal Server Error.
This is consistent whether using my app or the demo app.

**Here is a link that ISN'T working:**
http://www.amazon.com/Tovolo-Sphere-Ice-Molds-Set/dp/B007ACTN54/ref=sr_1_sc_1?s=home-garden&ie=UTF8&qid=1410754246&sr=1-1-spell&keywords=travolo+sphere

_Here are the Chrome inspe

[2014-09-15 19:38] #43 closed, assigned to nobody

[2014-09-15 23:25] #44 closed, assigned to nobody

[2014-09-21 13:19] #40 closed, assigned to nobody

[2014-09-30 15:24] wuliwong opened #45 "URL Parsing error"
`LinkThumbnailer.generate("http://www.swiftapprentice.com/build-a-swift-app-quiz-app-part-2/")`

yields this error

`ArgumentError: comparison of LinkThumbnailer::Models::Description with LinkThumbnailer::Models::Description failed`

I'm using `link_thumbnailer v2.2.0`

[2014-09-30 22:16] #45 closed, assigned to nobody

[2014-11-17 14:21] kurtish opened #47 "Not detecting an image even if the url has a declared og:image"
Hi,

If you try to use the thumbnailer on a site such as http://www.nytimes.com/2014/11/16/technology/esports-call-of-duty-nadeshot-celebrity-success.html you well see that it does not detect any image.

 If you view the source code on the link above you will see that it does have an og:image tag that does point to a working image:

meta property="og:image" content="http://static01.nyt.com/images/

[2014-12-18 20:23] wuliwong opened #48 "OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: sslv3 alert handshake failure)"
I receive this error

`OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: sslv3 alert handshake failure):`

when running

`LinkThumbnailer.generate("https://swiftcast.tv/screencasts/making-ios-apps-sexy")`

Not sure if there are any settings in the initializer that would prevent the error. This is a little outside my area of expertise. Any suggestions or is

[2015-01-18 14:31] sangregoriopaolo opened #50 "ArgumentError (invalid byte sequence in UTF-8) parsing google.com"
Hi,

If I run the following line, from my 'rails c'

    object = LinkThumbnailer.generate('http://google.com')

I get the following stack trace:

    ArgumentError: invalid byte sequence in UTF-8
    	from /Users/paolo/.rvm/gems/ruby-2.2.0@stuff/gems/link_thumbnailer-2.3.2/lib/link_thumbnailer/model.rb:12:in `gsub'
    	from /Users/paolo/.rvm/gems/ruby-2.2.0@stuff/gems/link_thumbnailer-2.3.2/lib/

[2015-01-18 14:45] gottfrois commented on #50
Hum, seems to work fine for me:

[code]

Try forking the gem and add this code to the top of this file `lib/link_thumbnailer/model.rb`

[code]

[2015-01-18 14:52] sangregoriopaolo commented on #50
Just tried, same error :(
My ruby version is

    ruby 2.2.0p0 (2014-12-25 revision 49005) [x86_64-darwin14]

And my rails version

    Rails 4.2.0

Thanks for your support!

[2015-01-18 14:56] gottfrois commented on #50
can you try with a lower ruby version ? I just tried with `ruby-2.0.0-p481` and `ruby-1.9.3-p551`. Rails version should not be an issue since the gem can work without it.

[2015-01-18 15:14] sangregoriopaolo commented on #50
Looks like I get the same error even with ruby 2.0 :(

    2.0.0p353 :001 > object = LinkThumbnailer.generate('http://google.com')
    ArgumentError: invalid byte sequence in UTF-8
    	from /Users/paolo/.rvm/gems/ruby-2.0.0-p353/bundler/gems/link_thumbnailer-24d1a7dd56ef/lib/link_thumbnailer/model.rb:13:in `gsub'
    	from /Users/paolo/.rvm/gems/ruby-2.0.0-p353/bundler/gems/link_thumbnailer-24d1a

[2015-01-18 18:10] gottfrois commented on #50
Can you try to replace the following code in your fork:

[code]

by this one:

[code]

in the following file https://github.com/gottfrois/link_thumbnailer/blob/master/lib/link_thumbnailer/model.rb#L10-L13

[2015-01-19 19:44] sangregoriopaolo commented on #50
Hi! Great, it works :) so basically you are replacing bad stuff with spaces. Great!
Do you want a pull request?

[2015-01-19 20:36] gottfrois commented on #50
not with spaces, but with empty string. Do not bother, I was planning on updating some code, i'll do the update and check couple more things :)

[2015-01-19 20:36] #50 closed

[2015-01-19 21:07] sangregoriopaolo commented on #50
Ok thanks for the support! :)

[2015-02-07 15:57] kikito opened #51 "Youtube videos do not generate videos"
Hi there,

Youtube does not seem to be generating videos for LinkThumbnailer:

    LinkThumbnailer.generate('https://www.youtube.com/watch?v=PqkR0SwFN_4')
    => #<LinkThumbnailer::Models::Website:0x00000105050428
     @images=[#<LinkThumbnailer::Models::Image:0x0000010507b060 @size=[480, 360], @src="https://i.ytimg.com/vi/PqkR0SwFN_4/hqdefault.jpg", @type=:jpeg>],
     @title="Marvel's Avengers:

[2015-02-08 12:12] gottfrois commented on #51
Hey, yep it seems broken. I will look at it and make a patch.

[2015-02-08 13:47] #51 closed

[2015-02-08 13:49] gottfrois commented on #48
Closing, please feel free to re-open if you need to.

[2015-02-08 14:00] gottfrois commented on #51
Fixed in `v2.5.0`

[2015-02-08 15:17] wuliwong commented on #48
I am not seeing the error now either. Thanks for the response. If it comes up again, I will try the `verify_ssl` option you suggested.

[2015-03-06 18:44] fainashalts opened #52 "fetch method causing my app to break"
Hi there,

LinkThumbnailer is so great! I've been using it in my app, and the problem I'm having is that for some websites when fetch can't get the site in question, it breaks my whole app. I've been testing it with sites I know won't work because I'm trying to rescue the error or otherwise cause all the links that DO work to show up on the page when a bad link has been added.

My view for the lin

[2015-03-06 19:57] gottfrois commented on #52
Hey there,

So i am not sure to fully understand what you are trying to do. What's is `fetch`? and where is it coming from?

Now, there is something wrong with the code sample. I would not put 2 rescue following each other but do something like this instead:

[code]

[code]

Also, not sure the above code would catch the exception you mentioned (SocketsError in Links#Index
getaddrinfo: nodename nor

[2015-03-06 20:29] fainashalts commented on #52
Hi,

My apologies, I think I left out a crucial bit. Fetch is the method I'm using to generate a new thumbnail:

[code]

One link this has happened with is http://www.wonwork.co, which I know isn't an existing webpage. I have also tried it with my portfolio website, which isn't set up for opengraph, and the same thing happens: fainashalts.com.  It seems like sometimes my rescue block catches it, a

[2015-03-06 20:59] gottfrois commented on #52
Ok, couple things to note here:

As you mentioned http://www.wonwork.co does not resolve, that's why you are seeing that `SocketError` exception. Since `SocketError` is a subclass of `StandardError`, you can rescue using `LinkThumbnailer::Exception` class:

[code]

Secondly, your personal blog url does not work because it's actually not a valid url, here is an example in irb console:

[code]

and

[2015-03-06 21:16] gottfrois commented on #52
I would suggest to build an abstract class around LinkThumbnailer. This way you could deal more easily with the exceptions:

[code]

Then in irb console:

[code]

[2015-03-09 05:12] ckolderup commented on #50
Hi,

Looks like this fix hasn't landed in a released gem version yet. Any chance it'll be there soon?

[2015-03-09 08:24] gottfrois commented on #50
Oh sorry about that guys, I simply forgot... Your code sounds good, feel free to open a PR and i'll merge it into master as well as bumping the gem version.

[2015-03-15 15:35] gottfrois commented on #52
Closing, feel free to re-open if you have more questions

[2015-03-15 15:35] #52 closed

[2015-03-25 18:25] aitharaju opened #55 "Redirect limit error"
The following url throws the redirect limit error - http://www.nytimes.com/2015/03/25/opinion/schools-need-albanys-help-now.html. I tried increasing the redirect limit and it didn't help. Any ideas on how to fix this issue?

[2015-03-25 19:02] 0mega commented on #55
I've the same issue with most of the NYT articles. Haven't had time to look into what's exactly happening there.

[2015-03-25 19:47] aitharaju commented on #55
I think it needs a cookie to respond back, if you try to make a request in the browser, it redirects you to a login page which sets the browser cookie and uses the cookie to retrieve the page.

[2015-05-01 16:16] gottfrois commented on #55
Fixed on `v2.5.1`. Sorry for the delay :)

[2015-05-01 16:16] #55 closed

[2015-05-12 09:46] MihirKumarThakur opened #57 "link_thumbnailer takes too much time to load"
It takes too much time to load and some times gives the timeout error.

[2015-05-12 12:31] gottfrois commented on #57
Please give me a URL as an example. Otherwise I won't be able to help you

[2015-05-13 11:45] MihirKumarThakur commented on #57
it is on localhost i am developing  a rails app

[2015-05-13 11:45] MihirKumarThakur commented on #57
where is your code base for the demo app ....

[2015-05-13 11:58] MihirKumarThakur commented on #57
here is my code in the view file

					<% @posts.each do |post| %>
					<div class="col-md-4 column_for_the_thumbnail">
						<div class="thumbnail">
							<% link1 =  post.post_link %>
							<% if link1 %>
					<% object = LinkThumbnailer.generate(post.post_link, verify_ssl: false, image_limit: 1, attributes: [:images], description_min_length: 0, image_stats: false).images.first.src.to_s %>

[2015-05-13 12:35] gottfrois commented on #57
Sounds great but give me an example of a URL to scrap :)

Here is the demo https://github.com/gottfrois/link_thumbnailer_demo

[2015-06-02 08:01] aruprakshit commented on #57
@gottfrois  yes, it is little bit slow. I tried [this](https://pragprog.com/book/mskanban/real-world-kanban). It took time to load 15.31 seconds.

[2015-06-02 08:02] aruprakshit commented on #57
@MihirKumarThakur  Source code is added to the _Readme_ file.

[2015-06-02 09:08] gottfrois commented on #57
It seems to be pretty slow due to image stats. You can disable them if you don't care about image size and type but only care about the URLs:

[code]

Also the `verify_ssl` option is true by default, you might want to disable it as well.

[2015-06-02 09:30] aruprakshit commented on #57
@gottfrois  Yes, tried with `verify_ssl: false`, nothing improved. I also tried `image_stats: false`, and it made the scraping very _fast_, but the image is different from the one I got, when `image_stats` was set to true.

[2015-06-02 12:03] gottfrois commented on #57
Hum yes it's because the gem is not able to sort the images based on their size. So the images returned are in order of appearance on the page to scrap

[2015-06-02 12:06] aruprakshit commented on #57
@gottfrois I'll try to look into the code. let's see If i can add any value there or not..

[2015-06-02 13:06] gottfrois commented on #57
Feel free to do so but unfortunately I don't see a way around this. Image size are gather over http requests which is what makes it slow. By passing this reduce drastically the scraping time but then you can't compare images by size anymore :(

A not easy to implement solution would be to fetch images size in parallel using typhoeus gem for example in order to make concurrent HTTP requests instead

[2015-06-02 13:08] aruprakshit commented on #57
@gottfrois  +1

[2015-06-04 14:42] deepak07 opened #60 "Rendering a link gives "OpenURI::HTTPError: 410 Gone"."
This happened since the gem version bumped from '*2.4.0*' to '*2.5.1*'.
I tried render a link [https://www.youtube.com/watch?v=rSQNi5sAwuc](https://www.youtube.com/watch?v=rSQNi5sAwuc). It raised an **OpenURI::HTTPError: 410 Gone** error.

object = LinkThumbnailer.generate('https://www.youtube.com/watch?v=rSQNi5sAwuc')

**NOTE: This was working  fine in '*2.4.0*'**

[2015-06-04 15:09] gottfrois commented on #60
It's actually not related to the gem. In order to fetch video metadata, there is a HTTP call done on youtube API that look like this:

[code]

Unfortunately the response is now a `HTTP/1.1 410 Gone`

I'll push an update in order to avoid the exception and simply not set video metadata

[2015-06-04 15:23] #60 closed

[2015-06-11 16:32] chuenlok opened #61 "having the http response header in return"
If a link to pdf is used, the description will be some unreadable texts. It would be great if the contetn-type can be checked before using the description or other things returned from link_thumbnailer.

For example,
http://prawnpdf.org/manual.pdf
will return

[2015-06-11 17:05] gottfrois commented on #61
yeah, the purpose of them gem is really to scrap html pages, not pdf though. What kind of behavior would you like to see here?

[2015-06-12 06:10] deepak07 commented on #60
There has been some update in the **'video_info'** gem that is being used for rendering youtube metadata. Now for fetching youtube data, we need to specify API Keys in our application.
But the changes are only available in the *master* branch. After a stable release is made for **'video_info'**, I think it will be possible to make a configuration for setting VideoInfo Youtube API keys using the Li

[2015-06-12 09:47] gottfrois commented on #60
yes, i'm waiting for their code to be more stable :) Glad it works for you

[2015-06-14 07:07] maia opened #62 "restricting to a-z makes usage for non-english descriptions impossible"
There seems to be a regex somewhere in the code that removes all characters that aren't a-zA-Z from title/description. This makes using it impossible in languages that have additional letters (which simply can't be deleted from a word). E.g. German has the three umlauts äöü (and their uppercase variants ÄÖÜ) and the letter ß.

Try this [example link](http://derstandard.at/2000017394465/EZB-Chefoek

[2015-06-15 07:30] gottfrois commented on #62
What version of the gem are you using? In `v2.5.2` it seems to work fine:

[code]

[2015-06-15 07:34] maia commented on #62
I wasn't using the gem (yet), I tried the demo application at http://link-thumbnailer-demo.herokuapp.com , but it seems it's not running the latest gem version.
Thanks a lot for fixing the issue!

[2015-06-15 07:35] gottfrois commented on #62
Yes I need to upgrade the demo app :)

[2015-06-15 23:32] maia commented on #62
I can confirm that the gem does not remove non-ascii. Thanks, not only for handling this issue, but in general - it's an impressive gem you've written.

[2015-06-16 08:12] gottfrois commented on #62
Thanks man, always nice to see such comments :)

[2015-06-16 08:12] #62 closed

[2015-06-16 16:24] gottfrois commented on #62
Api and demo app is now up to date ;)

[2015-06-20 14:16] maia opened #63 "some urls return descriptions that are way too long"
I've encountered some urls that LinkThumbnailer can not correctly parse, and returns descriptions that either are just too long or also contain javascript and css. Here are some examples:

* http://www.pesterlloyd.net/html/1525homan.html
* http://www.oegfe.at/cms/index.php?id=143&tx_ttnews%5BbackPid%5D=141&tx_ttnews%5Btt_news%5D=897
* http://www.gemeinderecht.wien.at/vergabeportal/detailansicht.as

[2015-06-20 14:20] maia opened #64 "should not generate data for pdf, mp3,..."
LinkThumbnailer tries to generate data for all source urls, no matter what file type they return. I've encountered >500KB long "descriptions" of .pdf and .mp3 files. Could LinkProfiler check which file type is returned and raise an error for everything that's not supported (most likely everything but html)?

[2015-06-20 15:49] maia commented on #64
oh, I guess this is a duplicate of #61 , other than the suggestion of having LinkThumbnailer check for the correct file type.

[2015-06-21 14:02] gottfrois commented on #63
Hey, thanks for the links. I've been looking at this and I think there is room for improving the built-in algorithm that score the descriptions. In the meantime, you can easily add your own "graders" to handle such descriptions.

Here is a wiki page to explain how graders works https://github.com/gottfrois/link_thumbnailer/wiki/How-to-build-your-own-Grader%3F

Simply add your new grader in the con

[2015-06-21 14:03] gottfrois commented on #64
yes, it's a duplicate, I will look into this :)

[2015-06-21 14:03] #64 closed

[2015-06-21 14:41] #61 closed

[2015-06-21 14:43] gottfrois commented on #64
In version `2.6.0` you can now do:

[code]

Or you can setup permanently in initializer. By default it will not raise.

[2015-06-21 14:43] gottfrois commented on #61
In version `2.6.0` you can now do:

[code]

Or you can setup permanently in initializer. By default it will not raise.

[2015-06-21 15:43] maia commented on #64
Thanks a lot! Btw, why are you requiring pry in processor.rb?

[2015-06-22 19:42] gottfrois commented on #63
I greatly improved the description scoring strategy on the following branch https://github.com/gottfrois/link_thumbnailer/tree/improved_description_score

Can you give it a try and tell me how it behave for you please?

BTW nothing I can do for this website https://www.detective.io/detective/the-migrants-files/ since its their description `meta` attributes that define a huge description...

[2015-06-22 22:26] maia commented on #63
I've tested it for ~200 urls and I've not encountered any "bad" descriptions. But I couldn't tell if the master branch would have done so.

The one thing I had to change is to remove the custom grader you suggested, if I remember correctly the method 'call' does not accept the current_score as argument any more. You might want to change the description accordingly.

As for the specific urls mentio

[2015-06-23 07:30] gottfrois commented on #63
Yes sorry about that, I should have told you. I basically refactored how graders works. Before there were simply doing a sum of positive or negative values but without any conventions regarding the "unit" used. Meaning that some graders could return `-1` or `1` value whereas other graders could return values order or magnitude different...

Anyway, now graders returns a probability (floats between

[2015-06-26 18:53] gottfrois commented on #63
released in `v3.0.0`

[2015-06-26 18:53] #63 closed

[2015-07-02 17:38] gottfrois commented on #57
Just to let you know guys, I am working on a solution for this. Stay tune

[2015-07-10 10:17] gottfrois commented on #57
I replaced FastImage gem by my own version called [ImageInfo](https://github.com/gottfrois/image_info) that allow to fetch images concurrently. My own benchmark shows a page that used to take about ~4.5 second to load now takes less than a second.

The fix is available now in `v3.0.2`.

Can you guys try in out and let me know if it improve your use cases? Thx

[2015-07-10 10:17] #57 closed

[2015-07-16 12:24] alexis opened #66 "NoMethodError: undefined method `size' for nil:NilClass"
Hi,

Could you check what's happening with the following?

    LinkThumbnailer.generate('http://yandex.ru')

[code]

[2015-08-06 14:04] deepak07 commented on #60
I think the issue with video_info gem has been solved. Could you update the gem with the new changes.

[2015-08-11 20:45] gottfrois commented on #66
I will have a look thx

[2015-08-12 07:06] aruprakshit commented on #57
@gottfrois  I have updated my Gem. For some links it is hanging, and not giving any result.

[code]

[2015-08-12 07:24] gottfrois commented on #57
Thanks, i will take a look. Can you please create a new issue for this one?

[2015-08-12 07:31] aruprakshit commented on #57
@gottfrois  Sure, I will.

[2015-08-12 09:07] aleksander-tatskiy opened #67 "Not working on server with SSL"
Hi guys!

I use Link Thumbnailer gem (v. 3.0.2) in my app (Rails 4.2.3, ruby 2.2.2p95). Recently I encountered a problem. On localhost Link Thumbnailer works fine. But I have staging and production servers with ssl where it does not work ( youtube link, for example: http://www.youtube.com/watch?v=6Viyt2aIOG8 ). At first I thought that configurations of my server are wrong or my code has bugs. But

[2015-08-12 16:30] gottfrois commented on #67
The demo is not working in https because it makes a http XHR request which is considered insecure. You can see the console error message in chrome.

How do you call LinkThumbnailer in your rails project?

[2015-08-12 17:30] gottfrois commented on #66
It was an issue on [ImageInfo](https://github.com/gottfrois/image_info) gem. Running `bundle update link_thumbnailer` should fix the issue.

[2015-08-12 17:30] #66 closed

[2015-08-13 07:25] aleksander-tatskiy commented on #67
## message.rb

    after_create :detect_link, :if => 'text.present?'

    def detect_link
	    URI.extract(text).map do |link|
	        result = LinkThumbnailer.generate(link)
		    if result.images.present?
			  attachments.create!({:name => result.title, :remote_attachment_url => result.images.first.src.to_s, :url => result.url, :type => result.videos.andand.first.present? ? 'VideoAttachment' :

[2015-08-13 07:31] gottfrois commented on #67
I imagine you call the thumbnail endpoint using javascript ajax request? Do you use https there?

[2015-08-13 08:42] aleksander-tatskiy commented on #67
No, I call it from Message model.

Here. If link from youtube, attacment is not created. But from Vimeo it works

    after_create :detect_link, :if => 'text.present?'

    def detect_link
        URI.extract(text).map do |link|
            result = LinkThumbnailer.generate(link)
            if result.images.present?
          attachments.create!({:name => result.title, :remote_attachment_url => r

[2015-08-17 16:16] maia opened #68 "URI::BadURIError: both URI are relative"
I've come across a rare URI::BadURIError error, details see here:
[code]

[2015-08-17 16:18] maia opened #69 "Videos: ArgumentError: string contains null byte"
LinkThumbnailer throws "ArgumentError: string contains null byte“ where querying the same url via VideoInfo causes no problems. See here:

[code]

[2015-08-18 11:24] mada41 commented on #68
same issue :(

[2015-08-21 09:05] maia opened #70 "NoMethodError: undefined method `start_with?' for nil:NilClass"
On rare occasions a redirected url does not seem to have a response['location'], causing the following:
[code]

[2015-08-21 10:45] maia opened #71 "rescue common errors and raise LinkThumbnailer error?"
When using LinkThumbnailer, quite a lot of errors need to be accounted for (that aren't caused by LinkThumbnailer itself but e.g. Errno, Net, OpenSSL, SocketError, URI,…). Would it be helpful to rescue all these errors in LinkThumbnailer and raise a single LinkThumbnailer::HttpError error that then can easily be rescued? That would prevent everyone using LinkThumbnailer from manually adding errors

[2015-08-21 18:50] maia commented on #71
Here's another one to catch:
[code]

[2015-08-23 15:11] gottfrois commented on #71
I've handled http errors and nokogiri error. You can use `LinkThumbnailer::Exceptions` to rescue all link_thumbnailer's exceptions.

[2015-08-23 15:11] #71 closed

[2015-08-23 15:25] #68 closed

[2015-08-23 15:25] #70 closed

[2015-08-23 15:29] gottfrois commented on #69
Seems to be working fine with `v3.0.3`

[2015-08-23 15:29] gottfrois commented on #67
Really not sure what could be wrong here. Seems to be working fine with `v3.0.3`.

[2015-08-23 15:30] gottfrois commented on #47
Closing the issue since the dom is changed using javascript

[2015-08-23 15:30] #47 closed

[2015-08-24 20:38] maia commented on #68
Thanks!

[2015-08-24 20:39] maia commented on #70
Thanks!

[2015-08-24 20:42] maia commented on #69
Unfortunately I'm still having the same problem:
[code]

[2015-08-25 08:48] 0mega commented on #69
I started looking into this, and I'm getting an SSL dependency error (I've also tried it with `verify_ssl: false`):

[code]

Note: I can use OpenSLL and it's already required in irb where I'm running link_thumbnailer

[2015-08-25 09:24] gottfrois commented on #69
Yeah, you are not the only one with this issue https://github.com/gottfrois/link_thumbnailer/issues/67. I should really dig dipper into that SSL issue. Thanks for looking at it

[2015-08-25 09:44] 0mega commented on #69
Sorry, didn't see that issue open. I'll try to help with SSL problem during this week.

[2015-08-26 11:52] oshields commented on #48
I receive this same error.  Setting verify_ssl to false seems to fix it but I'm curious what security implications this has?

[2015-08-26 12:09] oshields commented on #61
@gottfrois First of all awesome gem! I'm noticing you get a similar crazy description when you pass a url to .jpg or .png.  Is this intentional, the idea being it's the user of the gems responsibility to detect whether the url is already an image file?

[2015-08-26 12:15] gottfrois commented on #48
It basically mean we don't verify the server SSL certificate to check if they are who they say they are. It is considered a bad practice to deactivate SSL verification but at the time I wrote the gem my knowledge on such area was very limited :)

I will spend some time to make this thing right and release a patch soon.

[2015-08-26 12:19] oshields commented on #48
Awesome! Thanks a lot :+1:

[2015-08-26 12:34] gottfrois commented on #61
I basically whitelisted processable content types. So if you set the `raise_on_invalid_format` to `false` and still see weird description, can you please have a look at the content-type the server is answering with?

[2015-08-26 19:22] maia commented on #69
gottfrois, do you need any additional feedback regarding the problem with youtube videos? Just asking because the issue still has the "needs feedback" label.

[2015-08-26 20:07] gottfrois commented on #69
no thanks @maia I should be able to find what's going on :)

[2015-08-27 02:43] mtarnovan opened #73 "Segfault fetching image sizes"
Disabling image size fetching solves this issue. The first lines of the the stack trace:

[code]

[2015-08-27 03:57] oshields commented on #61
Content type would be "Content-Type:image/jpeg"
Example: http://blog.jimdo.com/wp-content/uploads/2014/01/tree-247122.jpg

The use case is a user enters a url to a jpg, or a gif, in my form, it then gets passed to LinkThumbnailer just like any other url.  LinkThumnailer gracefully returns an object (mostly blank without a title or description) but with the image url.  This way a user of the gem do

[2015-08-27 07:49] gottfrois commented on #61
Right, you can control this with the following option:

[code]

and rescue `LinkThumbnailer::FormatNotSupported`

[2015-08-30 16:57] aruprakshit opened #74 "link_thumbnailer fetching descriptions from <p> in wrong order"
Hello,

I am not sure if it is a issue or something else. In our production when we are giving this link :
http://www.divorceforce.com/article/288-divorce-case-law-autistic-child-support-and-custody , it is not able to fetch the description from the `<p>` which comes first. It is scrapping the description from the `<p>` which comes last in the document order.

I read this -
https://github.com/gott

[2015-08-31 07:17] #67 closed

[2015-09-02 13:02] aryalsan opened #75 "Rails LinkThumbnailer returns null for Youtube Video URL"
I am using to LinkThumbnailer gem in my program. It works for every links but whenever I provide the Youtube video URL it returns

[code]

I am using @object = LinkThumbnailer.generate(params[:weblink]) in my controller and
[code]
in my view to fetch the LinkThumbnailer data.

[2015-09-02 13:04] #75 closed

[2015-09-02 13:16] aryalsan commented on #69
I am getting the following error.
[code]

[2015-09-02 17:51] 0mega commented on #69
@aryalsan you can use my PR as a workaround while waiting for a fix in video_info gem or maybe even Kernel.open method.

[2015-09-13 12:13] gottfrois commented on #73
Should be fixed in `v3.1.0`

[2015-09-13 12:13] #73 closed

[2015-09-13 12:16] gottfrois commented on #74
I've released the possibility to customize graders weight. I've given 3 times more weight to the position grader. While it will not fix this particular case, it should give more accurate results. If you really want full control, you can create your own grader or disable the length grader here https://github.com/gottfrois/link_thumbnailer/blob/cb48ef3cbd22a1eb041cf254a7bf146d0158885c/lib/link_thumb

[2015-09-13 12:16] #74 closed

[2015-09-14 05:49] aryalsan commented on #69
Any updates coming recently!

[2015-09-14 07:30] gottfrois commented on #69
I'm waiting for video_info gem to release their master into a new version :)

[2015-09-16 12:43] kurtish commented on #69
We are having the same problems and not of the links to you tube videos are able to generate images.  The weird part is that your thumbnailer demo works fine for your tube, but it is no longer working for us.

[2015-09-16 13:44] gottfrois commented on #69
The demo is using this version of LinkThumbnailer https://github.com/gottfrois/link_thumbnailer_api/blob/master/Gemfile.lock#L59

[2015-09-16 14:30] kurtish commented on #69
@gottfrois Thanks, is it running on heroku on a Cedar 14 standard build as well?  Just wanted to check as to know if it is the heroku base version of imagemagick being used as well.

[2015-09-16 16:48] gottfrois commented on #69
yes it's a standard heroku, nothing fancy. However there are no imagemagick dependency. Where do you see it?

[2015-09-25 14:37] aryalsan commented on #69
Still waiting for the updates! Any news yet!!!

[2015-09-25 15:26] oshields commented on #48
Believe this will solve the problem.
http://toadle.me/2015/04/16/fixing-failing-ssl-verification-with-rvm.html
I haven't tried it for this gem specifically, but I was getting a similar issue using geokit.  Basically you need to update openssl and then install ruby in a specific way as stated by the post.

[2015-09-25 23:22] 0mega commented on #69
@aryalsan this won't be done until [this issue](https://github.com/thibaudgg/video_info/issues/103) is solved so you are welcome to help.

[2015-09-27 22:14] idjuradj commented on #69
Hi,

I'm going to write this here, although I'm not sure if it's related to this.

I've set this gem up in my projects, and it works with HTTP links, but it doesn't work with HTTPS.
For example, when I pass a youtube link, I WAS getting this error:
SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed

That error was showing up even if I would set config.v

[2015-09-30 18:04] aaronsakowski commented on #69
Still testing, but adding this to the Gemfile works so far for me.

```gem 'video_info', github: 'thibaudgg/video_info'```

Found here: https://github.com/thibaudgg/video_info/issues/100

[2015-10-01 01:13] 0mega commented on #69
Hi @idjuradj, you can use my workaround https://github.com/0mega/link_thumbnailer/commit/592309c2710926d90acf25849220dbad2a55bf06, or just rebuild link_thumbnailer locally, pointing to video_info gem master as @aaronsakowski mentioned.

[2015-10-01 07:47] gottfrois commented on #69
I'll create a branch that have gemfile points to video_info master branch for you guys

[2015-10-01 07:51] gottfrois commented on #69
Use this branch guys, until they release master in a new video_info version https://github.com/gottfrois/link_thumbnailer/tree/tmp-video-info-fix

[2015-10-06 13:42] ks0lo opened #77 "Error install ???"
I have this problem when i put command rails g link_thumbnailer:install
http://i.imgur.com/ZTgqWOr.jpg

i try to put by hand link_thumbnailer.rb file and when i go in irb console to put require 'link_thumbnailer' give me this ?
http://i.stack.imgur.com/uCVoD.jpg

I'm new in rails dev. and when i fix this bug i don't understand next step

[2015-10-06 13:53] gottfrois commented on #77
Hey there,

I haven't tested the gem on windows :-/ Doing ruby/rails on windows is generally not a good idea. You will find yourself in trouble many times since gems are not always windows ready. Anyway, can you copy paste the entire stack trace? Since from your screenshot I can't see the beginning where the real issue is ;)

[2015-10-06 14:02] ks0lo commented on #77
http://i.imgur.com/mNuWvwx.jpg

[2015-10-06 14:17] gottfrois commented on #77
right, so the gem need the `curl` library to work properly. I'm afraid it's not installed on your machine. I have no idea how to install it on a window so you will need to look for it i'm afraid.

[2015-10-06 18:13] ks0lo commented on #77
i fix the curl library but now i don't understand how to use the gem in views file, controller ...  i looked the demo repository, but i can't understand angular sintax and how it's work everything. Can you make simple scaffold app with the basic usage ? Thanks

[2015-10-06 21:16] gottfrois commented on #77
[code]

Go to http://localhost:3000/thumbnails/new?url=http://foo.com

In your view you can access website info by using `@object`. Ex:

[code]

[2015-10-08 06:47] ks0lo commented on #77
I can't understand how to work with this
Sorry for stupid questions i use rails from 2 month and obviously i'm beginner
look this repository https://github.com/ks0lo/linkgo
What i need to add to work this gem

[2015-10-08 07:46] gottfrois commented on #77
Run this command: `bundle exec rails g controller thumbnails new`. It will create a bunch of files. Open `app/controllers/thumbnails_controller.rb` and make it look like this:

[code]

Edit `app/views/thumbnails/new.html.erb` and add this:

[code]

Launch your rails server: `bundle exec rails s` and go to [http://localhost:3000/thumbnails/new?url=http://foo.com](http://localhost:3000/thumbnails/ne

[2015-10-08 09:48] ks0lo commented on #77
i put this code the first time but i can figure out how to implement this code in the real app with the input form, save to database, proper work with devise gem,  execute the thumbnail in index page

[2015-10-08 10:08] gottfrois commented on #77
you are almost there :) keep digging ! I can't help you more than that without actually doing it for you ;)

[2015-10-08 10:08] #77 closed

[2015-10-11 05:34] aryalsan commented on #69
Cool, it works for the Youtube video but for Vimeo video, its generates unexpected network error while fetching information about the video

[2015-10-11 11:46] 0mega commented on #69
@aryalsan I didn't look into it but it's probably because of the API token that is required to fetch information about the video from vimeo. In version 2.6 of video_info, there will be a vimeo scraper so you won't need an API key.
This does not happen with youtube videos because there is already an implementation of a youtube scraper.

[2015-10-18 16:34] maia commented on #69
When using the tmp-video-info-fix branch (and adding gem 'video_info', github: 'thibaudgg/video_info' to Gemfile) parsing youtube videos works.

Parsing a vimeo.com video generates a "VideoInfo::HttpError: unexpected network error while fetching information about the video" and a "OpenURI::HTTPError: 401 Authorization Required".

I assume we need to wait for video_info 2.6, @0mega do you have a ti

[2015-10-27 08:40] vheuken commented on #69
@maia There's just one thing left before the 2.6 release. Should be done within 1-2 weeks.

[2015-10-27 08:45] gottfrois commented on #69
:+1:

[2015-10-29 09:22] aryalsan commented on #69
:+1:

[2015-11-29 11:47] aryalsan commented on #69
@vheuken is there any possible dates of the release of Video info gem 2.6

[2015-11-29 12:02] aryalsan opened #78 "Generating wrong images from the Facebook Video URL"
I don't know its a bug or else, but link thumbnailer is not generating the exact thumbnail from the Facebook video URL.
Example
https://www.facebook.com/BeautyChandigarh/videos/712153022220009/ this is a facebook video URL and this is the exact thumbnail URL
https://fbcdn-vthumb-a.akamaihd.net/hvthumb-ak-xta1/v/t15.0-10/p160x160/12066896_712153602219951_926123356_n.jpg?oh=a41aa422bb00f9c029a0d2c07

[2015-11-29 20:44] vheuken commented on #69
@aryalsan Sorry for the delay. I've been busier than I've expected so I haven't been able to work on it. I'll make some time for it tonight and I should be able to finish it up.

[2015-11-29 22:39] gottfrois commented on #78
i'll have a look thx

[2015-11-30 04:50] aryalsan commented on #69
@vheuken, cool, and we are eagerly waiting for the 2.6 update release. And also would you please check for the Facebook videos, i think its generating the wrong thumbnail URL.

[2015-11-30 13:41] vheuken commented on #69
Just implemented most of the last task before 2.6 release. Here's what's left: https://github.com/thibaudgg/video_info/issues/95#issuecomment-160628927

Should be done within a few days.

video_info doesn't handle Facebook videos

[2016-01-10 11:01] maia opened #80 "check content-type via headers first, instead of loading entire document into ram"
LinkThumbnailer::Processor should query HTTP Response headers and decide upon `content-length` and `content-type` if it should run `http.request(url)`.

This allows to raise `LinkThumbnailer::FormatNotSupported` without downloading the entire document into memory first, and also to raise a new `LinkThumbnailer::FileSizeExceeded` in case a document is too large (I'd say anything > 10 MB is most lik

[2016-01-15 17:10] avandrel commented on #33
I have similar issue for polish site: 'http://wroclaw.wyborcza.pl/wroclaw/1,35771,19481129,razem-krytykuje-esk-i-chce-audytu-finansowego-i-artystycznego.html' - it's example article from Polish newspaper's site.
It's not working on demo page, I got 'NetworkError: 400 Bad Request - http://link-thumbnailer-api.herokuapp.com/thumbnails/new?callback=angular.callbacks._1&url=http:%2F%2Fwroclaw.wyborcza

[2016-01-18 09:28] gottfrois commented on #33
Yes please create a separate issue for the adblock thing. Can you elaborate a bit more about the adblock issue there too please?

Thanks !

[2016-01-18 09:29] gottfrois commented on #80
Sounds like a great idea. Feel free to make a PR for it. I'll have a look myself how we can integrate this.

[2016-01-19 07:27] ks0lo commented on #48
http://i.imgur.com/Mgdyue9.jpg
http://i.imgur.com/uO6TRvS.jpg

i'm using windows

[2016-01-19 08:09] lavika commented on #75
Is the issue fixed? I am still facing it.

[2016-01-19 08:34] gottfrois commented on #48
I definitely need to spend some time on this...

[2016-01-19 08:35] gottfrois commented on #75
See this issue https://github.com/gottfrois/link_thumbnailer/issues/69

[2016-01-19 08:35] gottfrois commented on #69
What's up on this @vheuken ? And happy new year man :)

[2016-01-19 19:51] vheuken commented on #69
Sorry, I still have to finish the Vimeo Playlist scraper. If you want, you can try using the branch with the scraper implemented in your project.

`gem 'video_info', :git => 'https://github.com/thibaudgg/video_info', :branch => 'vimeo-scraper'`

[2016-01-19 23:19] avandrel opened #81 "link_thumbnailer recognized as browser with AdBlock/uBlock enabled"
When I try to thumbnail articles on polish newspaper site 'wyborcza.pl', link_thumbnailer is recognized as browser with AdBlock/uBlock enabled. In irb I can execute:

[code]

to get:

[code]

description field states: 'To read our article please disable AdBlock/uBlock or add exception to for out domain'. Title field is also missing. If you use this address in browser everything seems to be alright

[2016-01-20 08:31] gottfrois commented on #81
Have you tried playing with the `user-agent`? By default the user-agent is set to `link_thumbnailer`, maybe you should try a real browser user-agent.

[2016-01-21 20:02] avandrel commented on #81
Yup, that was it. Browser's user-agent still got me no response, but robot's user-agent got it to work. Thank you very much.

[2016-01-22 12:26] gottfrois commented on #81
Awesome :)

[2016-01-22 12:26] #81 closed

[2016-01-22 23:20] maia opened #82 "manually set character encoding"
I'd like to suggest an option to manually define the character encoding that's being passed to Nokogiri as third argument of Nokogiri::HTML() – currently only the url is passed, relying on Nokogiri to detect the correct encoding. This will cause problems if the charset defined in the html head is incorrect.

There is [Nokogiri ticket 1330](https://github.com/sparklemotion/nokogiri/issues/1330) but

[2016-01-25 09:43] gottfrois commented on #82
No active decisions against. The issue is that if you force the encoding in the configuration, it will always use this one, no way to use auto-detect anymore.

[2016-01-26 13:13] maia commented on #82
I'm aware of this limitation, but at least you could pass the encoding as second parameter for websites that are misconfigured and won't work otherwise:
[code]
It's just a fallback for rare cases.

[2016-03-01 21:55] vheuken commented on #69
Can you guys try the master branch now? Vimeo scraper should be in and we'll push a new version shortly. Sorry for the wait!

[2016-03-02 14:15] vheuken commented on #69
video_info 2.6 has been released with the Vimeo scraper. Hopefully this resolves your issue!

[2016-03-02 14:33] gottfrois commented on #69
:+1: I will try that when I have a moment :) Thanks for the notice

[2016-03-02 15:25] aryalsan commented on #69
Thanks for the release.
On Wed, Mar 2, 2016 at 8:18 PM Pierre-Louis Gottfrois <
notifications@github.com> wrote:

[2016-03-05 10:04] maia commented on #69
The issue is fixed with video_info `2.6.0` (thanks, @vheuken !). @gottfrois can you push a new version of link_thumbnailer? (plus, there are a few forks that look like they could be pulled in). Thanks everyone!

[2016-03-05 12:36] #69 closed

[2016-03-05 12:37] gottfrois commented on #69
Released in `v3.1.1`. Thanks every one to make it happen :)

[2016-03-05 18:11] vheuken commented on #69
Please keep in mind that, due to the nature of scrapers, future breakage is a very real possibility. If you ever have an issue I'll be more than happy to release a patch fix.

[2016-03-06 14:25] gottfrois commented on #69
Of course, thanks for the reminder. What are our options to limit them? Using each provider APIs directly I imagine?

[2016-03-07 14:00] gottfrois commented on #80
Would need this issue to be fixed first https://github.com/typhoeus/typhoeus/issues/511#issuecomment-192720254

[2016-03-07 18:11] vheuken commented on #69
I think you should point out to users that they are able to set a Vimeo API key as follows:

`VideoInfo.provider_api_keys = { vimeo: 'YOUR_VIMEO_API_KEY' }`

(Of course, you are free to make your own interface around that).

[2016-03-07 21:54] gottfrois commented on #69
Right, I'll probably include that in the gem config

[2016-03-08 20:39] vheuken commented on #69
Just a heads up, we're getting ready for a 2.7 release in the coming weeks where we [significantly reduced our gem dependencies](https://github.com/thibaudgg/video_info/issues/116#issuecomment-191472266), so it will probably be a good idea to update to that when we release that. I'll try to ping you or send over a PR when it's ready. I'm sure your users will appreciate having to pull in a few fewe

[2016-03-09 09:00] gottfrois commented on #69
@vheuken sounds great :)

[2016-03-14 19:58] 6thSigma commented on #48
I'm getting

`OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed`

when running

`LinkThumbnailer.generate('https://www.youtube.com/watch?v=zsjZ2r9Ygzw')`

It happens on every Youtube video with or without `verify_ssl: false`. I haven't encountered the error with any other links.

[2016-03-15 08:41] gottfrois commented on #48
@6thSigma have you tried @oshields answer? I'm not having the issue with the youtube link you provided.

[2016-03-15 10:06] deepak07 commented on #48
I am also receiving the same error in my development machine. Its working fine in staging and production environment, not so in development. For now I have switched off the ssl verification in development mode.
[code]

I am working on OS X EL Capitan. I tried reinstalling rvm as @oshields suggested, and even after that its not working. Even updated the open-ssl packages using brew, still no result

[2016-03-15 10:13] gottfrois commented on #48
Try this https://rvm.io/support/fixing-broken-ssl-certificates

[2016-03-15 10:16] deepak07 commented on #48
I had tried that, didn't help.

[2016-03-16 16:05] 6thSigma commented on #48
@gottfrois I've tried all of the provided solutions and so far nothing is working in dev. I was actually getting the same OpenSSL error in staging/production (hosted on Heroku) but after upgrading to Ruby 2.2.4 from 2.2.2, I'm no longer getting it.

I'm assuming that this is either an issue with my environment and/or Ruby itself and not this gem.

[2016-03-16 17:19] gottfrois commented on #48
Most likely yes, thanks for the follow up :)

[2016-03-20 16:28] jm3 opened #83 "misleading project name / description"
Hi! I don't mean to be a downer, but I think the name and description of the project is really misleading. This doesn't "generate" (create) thumbnails from links or websites, as the name and readme implies. Rather, it DOWNLOADS pre-existing images associated with a website, using oembed, etc. Those are two very different things.

A project for generating thumbnails of websites will load the websit

[2016-03-21 09:09] gottfrois commented on #83
I think you are right :) Would you have a description to propose maybe?

[2016-03-21 22:04] jm3 commented on #83
@gottfrois hm, how about **Metadata Fetcher**?

[2016-03-31 20:09] iroth opened #84 "some URLs fail when using LinkThumbnailer Gem"
this URL fails with 404, but when used in the demo app it works:
https://medium.com/greylock-perspectives/the-hierarchy-of-engagement-5803bf4e6cfa#.3r7b2tdbd

[2016-04-01 08:21] iroth commented on #83
@gottfrois I would propose **WebPageSummary** or **LinkSummary**
but anyway, thanks for the contribution - this is super useful for us!

[2016-04-04 07:28] gottfrois commented on #83
Thanks for the suggestions, I'm afraid I won't be able to change the gem name. I was thinking gem's description.

Thanks @iroth ;)

[2016-04-04 07:35] gottfrois commented on #84
Seems to work with latest version:

 => "The Hierarchy of Engagement — Greylock Perspectives"

 => "3.1.1"

[2016-04-04 13:46] iroth commented on #84
Hi @gottfrois, I have the latest version and I get a 404 not found error. Here is my config:
  config.redirect_limit = 5
  config.verify_ssl = false
  config.http_open_timeout = 5
  config.description_min_length = 35
  config.positive_regex = /article|body|content|entry|hentry|main|page|pagination|post|text|blog|story/i
  config.negative_regex = /combx|comment|com-|contact|foot|footer|footnote|mas

[2016-04-04 14:43] gottfrois commented on #84
hm, what ruby version are you using?

[2016-04-04 14:47] iroth commented on #84
ruby 2.2.1
rails 4.2.2

[2016-04-10 03:16] shenders13 opened #85 "Make the description length configurable to an arbitrary length."
The upside down gaussian function in the LinkThumbnailer gem is centred at 120. It would be fantastic to generalise the gem so the user can specify where the gaussian function cuts the x axis - making the description length the gem returns customisable.

[2016-04-18 20:03] gottfrois commented on #85
As promised :) Available in `v3.1.2`:

Allows to customize ideal description length

Pass the :ideal_description_length option to the Graders::Length initializer to customize
the ideal description length of a website. In the rails initializer:

[code]

Will default to `120` characters. More information about how the gem manage to find the best description can be found at
http://www.codeids.com/201

[2016-04-18 20:03] #85 closed

[2016-04-23 00:42] olliebaum opened #86 "Option to fetch images of a certain size"
I'd like to use this such that the link thumbnailer finds the images that are largest displayed on the given URL. An option to specify that I want it to return the largest possible images would be useful for this.

[2016-04-25 08:00] gottfrois commented on #86
Hm, currently it's not possible. It would require to expose the image comparator class so that you can implement your own, just like with Graders do with website description.

[2016-05-02 08:50] shenders13 opened #87 "Ideal Description Length functionality not working."
Say I pick an arbitrary news article, say:

_http://www.nytimes.com/2016/05/02/us/politics/indiana-primary-ted-cruz-donald-trump.html?hp&action=click&pgtype=Homepage&clickSource=story-heading&module=first-column-region&region=top-news&WT.nav=top-news_

And configure the ideal description length to be 800 characters in my linkthumbnailer.rb initialiser as below:

_LinkThumbnailer.configure do |conf

[2016-05-02 09:36] gottfrois commented on #87
The issue is that the site above use the html `description` meta attribute to tell the world what this article is about http://d.pr/i/EpMl

LinkThumbnailer look for this meta attributes among others (http://ogp.me/) and prioritize them if they are found on the webpage. Only if it failed, it will use its internal description parser to "guess" the best description using the Graders you have configur

[2016-05-15 16:10] gottfrois commented on #87
In version `v3.2.0` you can disable the `opengraph` scraping strategy. Allowing to only use the homemade strategy to scrap your websites.

See the [changelog](https://github.com/gottfrois/link_thumbnailer/blob/master/CHANGELOG.md#320) for more information.

[2016-05-15 16:10] #87 closed

[2016-05-16 17:45] 6thSigma opened #88 "undefined method `size' for nil:NilClass"
I'm getting `undefined method 'size' for nil:NilClass` on a couple of URLs.

[code]
[code]

Same error happens for `http://playbook.samaltman.com/` too.

[2016-05-17 07:44] gottfrois commented on #88
Thanks for reporting, I'll have a closer look and push a fix :)

[2016-05-27 09:26] novill opened #90 "Do we really need "Accept-Encoding = none"?"
Hi!
I wonder if you could help me with your LinkThumbnailer a little bit.
I'm running into a problem with your gem when trying to extract data from slashfilm.com. For example, the result is empty when I'm executing this:
[code]

But if I comment out the line #43 in processor.rb:

`     http.override_headers['Accept-Encoding'] = 'none'`

Everything works ok.

So, my question is: do we really need t

[2016-05-30 08:16] gottfrois commented on #90
If i remember correctly, this line prevents issues when webpage is encoded using gzip for example https://github.com/gottfrois/link_thumbnailer/issues/41

Can you look at the http headers slashfilm.com returns?

[2016-05-31 13:27] novill commented on #90
Without "Accept-Encoding = none"
[code]
With this line it returns gzip encoding
[code]

[2016-05-31 17:09] gottfrois commented on #90
We should probably allow anyone to override those. Provide best possible defaults but allow to be overrided

[2016-06-03 15:13] pepesenaris opened #93 "Error fetching images if config.image_stats = false"
The error appears when config.image_stats = false with the following url http://www.lsa.umich.edu/lsa/ci.helpingstudentsmakeanimpact_ci.detail

The problem seems to be that the urls params received by LinkThumbnailer::ImageParser contains a nil value:
[ http://www.lsa.umich.edu/vgn-ext-templating/sites/lsa/images/banner.png, **nil, nil**,  http://www.lsa.umich.edu/vgn-ext-templating/sites/lsa/imag

[2016-06-06 03:16] shenders13 opened #95 "Some sites throw RedirectLimit error."
The Daily Telegraph, Courier Mail, and Fox Sport's websites don't work for LinkThumbnailer. They throw a RedirectLimit error.

See the links below:

- http://www.dailytelegraph.com.au/technology/sydney-wild-weather-homes-at-risk-as-collaroy-narrabeen-battered-by-storm/news-story/45e63ecdca3e9678f51ac51270996781
- http://www.couriermail.com.au/news/queensland/police-declare-emergency-situation-at-e

[2016-06-06 10:06] gottfrois commented on #95
Of course, this is something you can configure yourself using:

[code]

or globaly:

[code]

[2016-06-06 10:06] #95 closed

[2016-06-06 10:08] #93 closed

[2016-06-07 07:41] shenders13 opened #96 "Some sites throw a redirection error"
Some sites throw a redirection error

- http://www.dailytelegraph.com.au/technology/sydney-wild-weather-homes-at-risk-as-collaroy-narrabeen-battered-by-storm/news-story/45e63ecdca3e9678f51ac51270996781
- http://www.couriermail.com.au/news/queensland/police-declare-emergency-situation-at-elizabeth-street-woodend/news-story/914f6a0ab1ccc23aa8136280a938f551
- http://www.foxsports.com.au/football/prem

[2016-06-07 12:28] hus787 opened #97 "Generate incorrect preview for CNN videos"
http://money.cnn.com/video/news/2016/05/05/who-is-mary-barra.cnnmoney/index.html

[2016-06-07 12:53] gottfrois commented on #97
The gem currently only support videos linked in OpenGraph meta attributes. I see this link has twitter card video player set.

Feel free to submit a pull request to handle those :)

[2016-06-10 12:03] naiyyar opened #98 "<NoMethodError: undefined method `size' for nil:NilClass>"
Hi,
I am getting undefined method 'size' for nil:NilClass for some URLs.
[code]

[2016-06-10 16:20] naiyyar commented on #88
I am getting this issue on some URLs. same error logs @6thSigma has mentioned.

[2016-06-13 09:10] gottfrois commented on #88
Can you try with master branch? Haven't released a version yet

[2016-06-13 09:10] gottfrois commented on #98
Please try with master branch, haven't released a version yet

[2016-06-15 22:04] 6thSigma commented on #88
The two URLs I opened the ticket with are now working using the master branch. Thanks @alfie-max and @gottfrois

I will keep this open in case you want to close it with a release.

[2016-06-16 08:57] gottfrois commented on #88
`v3.2.1`

[2016-06-16 08:57] #88 closed

[2016-06-16 08:57] gottfrois commented on #98
`v3.2.1`

[2016-06-16 08:57] #98 closed

[2016-06-16 08:58] gottfrois commented on #84
Still having the issue?

[2016-06-21 10:50] gottfrois commented on #96
It seems to be an issue with cookies. The original URL returns a `302` with a `Set-Cookie` http header. The gem handle this http header correctly but even after the cookie is set, the site keeps returning `302` http responses.

I would need more time to investigate this. Also, I had plan to remove all that redirection home made logic and use another http client library such as faraday and typhoeus

[2016-07-18 17:20] arunnura opened #99 "Gem "link_thumbnailer" install issue"
Hi,
we are trying to install this interesting gem, though we encountered a strange issue with ruby version. Can you please advise?

Error details:

Our server ruby version:  2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux-gnu]
Command:  "gem install link_thumbnailer"
ERROR:  Error installing link_thumbnailer:
        activesupport requires Ruby version >= 2.2.2.

Thanks in advance.

[2016-07-19 09:54] gottfrois commented on #99
hm are you sure you have the proper ruby version loaded?

Fetching: link_thumbnailer-3.2.1.gem (100%)
Successfully installed link_thumbnailer-3.2.1
Parsing documentation for link_thumbnailer-3.2.1
Installing ri documentation for link_thumbnailer-3.2.1
Done installing documentation for link_thumbnailer after 0 seconds
1 gem installed

ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

[2016-07-21 07:25] bala92 opened #100 "not working for facebook video links"

[2016-07-22 07:43] gottfrois commented on #100
Hey there,

Would you mind at least describing your issue and the source url you are using so that I can understand what your issue is?

[2016-07-22 08:25] gottfrois commented on #99
Solved your issue? Closing but feel free to ping me if it's something related to the gem.

[2016-07-22 08:25] #99 closed

[2016-07-27 14:58] novill opened #101 "No data fo direct image or video urls"
Hello!

Your gem perfectly extracts parameters for embedded images and videos from html page.
But it does nothing if it gets direct image or video url. (

Now it returns empty answer
[code]

It would be great If it could fill images array with source image data. The same for videos .

I've read your code carefully and understand what changes I need to do. Almost :)

At first I should allow these c

[2016-07-27 16:28] gottfrois commented on #101
Why don't you use my other gem directly? :)

[code]

[2016-07-27 18:20] novill commented on #101
In this case I request data twice.
1. to get content-type to decide what parser to use
2. to parse data

It takes time and some servers temporary ban me

[2016-07-28 07:30] gottfrois commented on #101
Right I see! In addition to your changes in the `valid_response_format?` method, have you tried disabling other attributes parsing in the configuration?

[code]

[2016-07-28 14:31] novill commented on #101
I've tried today and got empty result.

[2016-08-27 10:39] #90 closed

[2016-08-27 10:57] #33 closed

[2016-08-27 11:07] gottfrois commented on #101
Looked a bit at this and it would require some major changes to make this possible. There are unfortunately no easy work around :-/

[2016-08-27 11:07] #101 closed

[2016-11-01 20:19] BennyOnGit opened #105 "direct pdf/img links to not work with link_thumbnailer?"
Hello there,

This isn't necessarily an issue - more just wondering if this gem is designed to work with .pdf or the varous .png/.jpg/etc links?

- PDF based links
https://assets.documentcloud.org/documents/277761/united-nations-diplomats-super-pac.pdf
*These PDF's links do not work

-png / jpg based links also do not seem to work
https://i.guim.co.uk/img/media/d29d2a4b1646cec982f068478f7197387cf0

[2016-11-02 08:58] gottfrois commented on #105
Hey!

Thanks for reaching out. As you guessed, the gem is not ready to handle PDF directly. In only handles HTML links. For images, you could use directly the [Image Info](https://github.com/gottfrois/image_info) gem.

Same here, it does not handle that. The reason is simple, simplicity. Generating a real screenshot of a url can be quite tricky and adds a lot of dependencies.

Hope I answered your

[2016-11-02 08:58] #105 closed

[2016-11-03 19:01] BennyOnGit commented on #105
makes sense - thanks gottfrois.

[2016-12-23 15:40] austenito opened #107 "ImageParser returns invalid image"
Gem Version: 3.3.0

When running the following:

[code]

The following error occurs:

[code]

From digging in a bit, it looks like the initialize block in `LinkThumbnailer#parser` is returning an empty array for the following:

[code]

[2017-01-10 01:08] Brotakuu commented on #84
Keep getting `OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed)`

[2017-01-29 17:39] OleGanove opened #108 "URI::BadURIError: both URI are relative"
I have the same issue as in this [link](https://github.com/gottfrois/link_thumbnailer/issues/68), namely I get a `URI::BadURIError: both URI are relative ` for some of my links:

[code]

[2017-03-07 06:32] jayaprakash88 commented on #19
i am try to get google image and description but i am getting error
LinkThumbnailer.generate('http://google.co.in', :strict=> false)
Error is
NoMethodError: undefined method `strict=' for #<LinkThumbnailer::Configuration:0x0000000d6f8ff8>

Please give me a solution

[2017-03-07 08:30] gottfrois commented on #19
@jayaprakash88 the `strict` option does not exist in latest version of the gem:

[code]

[2017-03-07 10:09] jayaprakash88 commented on #19
Yes i am getting response but i haven't  get default google images and description. In demo url (http://link-thumbnailer-demo.herokuapp.com/) i am getting image and description as well ..

[2017-03-07 13:28] gottfrois commented on #19
the demo does not return any images as well http://d.pr/i/CHwc
Correct me if i'm wrong but `http://google.co.in` does not have any image on the page

[2017-03-20 16:22] camilleroux opened #112 "Add option to use oembed"
[oembed](http://oembed.com/) is a format for allowing an embedded representation of a URL on third party sites. It could be a good add to the library!

[2017-03-21 10:33] gottfrois commented on #112
Absolutely! Should be quite easy to add since it comes down to implementing a new set of "scrapers".

BTW you can implement those scrapers on your own project and inject them using the proper gem config: https://github.com/gottfrois/link_thumbnailer/blob/master/lib/link_thumbnailer/scraper.rb#L36

[2017-03-23 13:29] ricardopacheco opened #113 "Methods to know the type of content"
Is it possible to have a method that returns the content type of the page? In oembed there is a key that returns this.

Example `{ title: 'example', type: 'video', url: ... }`

[2017-03-23 16:15] gottfrois commented on #113
sounds reasonable, we could fallback to use the content-type from the http request maybe?

[2017-03-23 16:51] ricardopacheco commented on #113
Yea, ruby-oembed gem has an implementation in that sense that you said.

https://github.com/ruby-oembed/ruby-oembed/blob/master/lib/oembed/response.rb#L29

The question is to have the URL type in to_json and boolean methods to check for themselves, type `@url.video?` `@url.image?`

This will help, for example, render specific views for each case.

[2017-03-28 12:16] ricardopacheco commented on #113
@gottfrois You could put another hash with the request information?

Like this:

[code]

This alternative hash could be returned by user option for example: `generate (url, http_headers: true)`

[2017-03-29 22:41] clairity opened #114 "Redirects on nytimes.com bouncing back and forth to nytimes.com/glogin ?"
in trying to get nytimes.com links working with link_thumbnailer, i stumbled onto a redirect issue that seems to have been addressed before but doesn't have enough context for me to understand how to work around now. if i go to an article via link_thumbnailer:
[code]
i get a `LinkThumbnailer::RedirectLimit: LinkThumbnailer::RedirectLimit` error. if i raise the redirect_limit to 15, i get a differe

[2017-03-30 13:54] gottfrois commented on #114
this issue should be fixed on latest gem version (superior to 2.5.1 at least). It was an issue where the site was telling the agent to write a cookie but the gem was not following this directive. I would need to double check that this mechanism still works as expected

[2017-03-30 20:51] clairity commented on #114
thanks!

i was using the latest v.3.3.0 and even tried tracking master directly in my Gemfile, but got the same results. i'm also on the latest ruby 2.4.1 and rails 5.1.0.rc1 if that matters.

[2017-05-25 07:12] chianhsieh opened #115 "json 1.8.6 is too old"
Hello,

link_thumbnailer use Gem json 1.8.6 as well, but the newest version is 2.0.2.
It might have dependency conflict with our existing system.

If I want to upgrade json to 2.0.2, what should I do?
Thank you.

[2017-05-29 16:35] gottfrois commented on #115
You can fork the repo and try to upgrade on your side, see if everything works as expected. If it's the case, you can submit a pull request :)

[2017-06-04 11:31] gottfrois commented on #115
Upgraded

[2017-06-04 11:31] #115 closed

[2017-07-01 16:39] knzudgt opened #117 "Basic instructions needed for Rails"
I installed `link_thumbnailer` as described, adding the gem in the Gemfile and then running `bundle install`. Then I generated the configuration file as suggested with: `rails g link_thumbnailer:install`. However I did not change the default configuration values.

I would like to use `link_thumbnailer` in the application I created starting form Michael Hartl's Ruby on Rails tutorial, which is a Tw

[2017-07-09 11:50] gottfrois commented on #117
I don't know how you implemented your application. When you generate a thumbnail using LinkThumbnailer, you will get an object in response with `URL`, `title`, and `images` attributes.

I invite you to take a look at the readme.

[2017-07-09 11:50] #117 closed

[2017-07-13 15:27] #108 closed

[2017-07-17 09:36] maia opened #120 "don't raise on invalid response format while redirecting"
Currently the method `perform_request` in `link_thumbnailer/lib/link_thumbnailer/processor.rb` will call `valid_response_format?` before following a redirect. This has the effect that it will return `LinkThumbnailer::FormatNotSupported` as soon as a single response on the way through all the redirects is not a valid response format, e.g. if it's empty.

I suggest to move `raise ::LinkThumbnailer::

[2017-07-28 19:43] mlennie opened #121 "MIT license?"
Hello does this fall under the MIT license and if so can you please put that in the README as I would love to use this but can only do so under MIT licensing. Thanks!

[2017-07-29 14:10] gottfrois commented on #121
it does ;) https://github.com/gottfrois/link_thumbnailer/blob/master/LICENSE.txt

[2017-07-29 14:10] #121 closed

[2017-09-30 09:20] naiyyar opened #123 "Not generating correct image src"
When trying to generate images for this url http://etiquettable.eco2initiative.com/
It's Not giving correct image src. not event showing image thumbnail.
 I checked here too http://link-thumbnailer-demo.herokuapp.com/

Thanks

[2018-04-13 08:19] mskubenich opened #128 "Ruby crash when trying to parse certain sites"
Hi !

Thank you for your amazing job !

I encountered a strange crash in ruby after trying next line:

`LinkThumbnailer.generate('http://nsdateformatter.com/')`

Here is what i see in terminal:

`
ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin17]

-- Crash Report log information --------------------------------------------
   See Crash Report log file under the one of following:
     * ~/

[2018-04-13 14:01] gottfrois commented on #128
Can you try with latest ruby version?

[2018-04-13 14:05] mskubenich commented on #128
I tried with 2.4.0 and 2.4.1

[2018-04-13 14:07] gottfrois commented on #128
Merged your fix

[2018-04-13 14:07] #128 closed

[2018-04-16 15:22] gottfrois commented on #100
Closing for lack of feedback

[2018-04-16 15:22] #100 closed

[2018-04-16 15:26] gottfrois commented on #82
Implemented, closing

[2018-04-16 15:26] #82 closed

[2018-10-24 15:57] mbajur opened #132 "Image stats broken for gif images"
I recently noticed that link_thumbnailer is not able to fetch metadata for gif images (when using `config.image_stats = true`). After doing a tiny research it turned out it's a `image_info` fault but i doubt we can do much about it as it's not maintained since 2015.

You can test the behavior on these links:
- https://umaar.com/dev-tips/151-screenshot-capture/
- https://www.producthunt.com/posts/i

[2018-10-25 07:34] mbajur commented on #132
Update:
It turned out image_info actually do have a gif support (https://github.com/gottfrois/image_info/search?q=gif&unscoped_q=gif) but it seems it's broken anyway.

Also - it's broken for other kinds of images, scrapping `https://umaar.com/dev-tips/151-screenshot-capture/` gives us two images in the results (gif and png) and both of them have dimensions set to nil as well as format.

[2018-10-25 14:17] gottfrois commented on #132
Hey @mbajur thanks for the notice! Yes I own `image_info` and it was based on `fast_image` so it should definitely work the same way 😡 !
I'm quite busy at the moment but I'll gladly accept PRs if you're willing to have a look.

[2019-02-28 11:42] lesrima88 opened #136 "undefined method `src' for nil:NilClass"
This happens randomly, sometimes it loads up the website image without any issues but 50% of the time i get 'undefined method `src' for nil:NilClass' error.  What could be the problem?

<%= image_tag LinkThumbnailer.generate(post.url).images.first.src.to_s %>

[2019-02-28 19:10] maia commented on #136
Most likely LinkThumbnailer.generate(post.url).images returns an empty array as no images are found, therefor #first returns nil.

[2019-03-01 15:53] gottfrois commented on #136
@lesrima88 you should probably check if LinkThumbnailer was able to retrieve some images with something like:

[code]

[2019-03-26 04:19] sudiptam123 commented on #60
Hi, recently i am getting issue for LinkThumbnailer unable to generate vimeo url throwing error (VideoInfo::HttpError: unexpected network error while fetching information about the video).
All other vimeo url's gets created successfully only problem is with specific vimeo url's.
Code :-
obj = LinkThumbnailer.generate("https://vimeo.com/309953801/b27d2ce475")

Error :-
VideoInfo::HttpError: unexpec

[2019-03-27 08:55] gottfrois commented on #60
The error seems to indicate an issue parsing video metadata using the video_info gem https://github.com/thibaudgg/video_info

LinkThumbnailer uses this gem under the hood to get metadata about the video.
Can you check on their github about an opened issue maybe?

[2019-06-18 13:25] devpolish opened #137 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension"
**Ruby version: 2.4.1**
**Rails: 5.1.7**

[code]

[2019-06-18 13:27] devpolish commented on #137
Upgrading Ruby  up to 2.5.2 version worked for me

[2019-06-18 13:27] #137 closed

[2019-06-28 17:20] vedmant opened #138 "How I can pass a HTML string to LinkThumbnailer"
How I can pass a HTML string to LinkThumbnailer to make it parse it instead of opening URL?
Couldn't find anything about it in the documentation or issues.

[2019-07-01 07:53] gottfrois commented on #138
There is no public method available for this use case. However, you can try calling the following directly code directly:

https://github.com/gottfrois/link_thumbnailer/blob/master/lib/link_thumbnailer/scraper.rb#L25
[code]

Note that you will need to pass a URL anyway because LinkThumbnailer expects one, but it's only to prefill the URL attribute of the response object.

[2019-07-01 08:00] vedmant commented on #138
@gottfrois Thanks, I'll try this. Would be nice to have public API for this, in my case I need to scrap html for other data also and currently I didn't find other option but to make two requests one from LinkThumbnailer another to get html content for my needs.

[2019-07-02 17:06] vedmant commented on #138
@gottfrois I tried your suggestion but have an error: undefined method `host' for #<String:0x00007f9fcd043e80> on line `scraper.call`

[2019-07-03 09:25] gottfrois commented on #138
Ah, the URL should be a `URI` object i think, not a string https://docs.ruby-lang.org/en/2.1.0/URI.html

[2019-07-22 14:15] vedmant commented on #138
@gottfrois Thanks, that worked. However I have another issue now, I moved the code into a service class, and it stopped working, I have following error `undefined method `config' for nil:NilClass` `from /usr/local/bundle/gems/link_thumbnailer-3.3.2/lib/link_thumbnailer/scraper.rb:28:in `initialize'`

[2019-07-23 08:16] gottfrois commented on #138
Yeah this code is not the best... :( https://github.com/gottfrois/link_thumbnailer/blob/master/lib/link_thumbnailer/scraper.rb#L28

Don't remember why i proxied `config` through the `Page` class but it should use `LinkThumbnailer.config` directly IMO.

I don't see a quick fix for this other than monkey patching or changing the code of the gem and make it easier to scrap html directly.

[2020-06-07 04:24] aleksandr-leontev opened #140 "Long Response Time or Timeouts for localhost server"
By some reason this data by this url generates for me within 8-10 minutes on localhost:
LinkThumbnailer.generate('https://www.quora.com/What-are-some-top-automation-tools-that-entrepreneurs-use')

But on staging or production servers it takes several seconds.
Do you know the reason or it is some bug?
Or which timeouts I can limit for localhost?

[2020-06-08 09:03] gottfrois commented on #140
It looks like it's stuck in the loop which follows URL redirections. Doing a simple curl request on the original URL shows a redirection:

[code]

The gem will try to follow redirections and raise an exception if there were too many redirections. It's controllable using the `:redirect_limit` option.

However here it doesn't help for some reason, not obvious to me at the moment.
Using the definitiv

[2020-07-10 15:18] Paolo454 opened #141 "Twitter url ERROR respond: "We've detected that JavaScript is disabled in your browser. Would you like to proceed to legacy Twitter?"
Hello. If I try to use link_thumbnailer with a Twitter link I get this error:

"We've detected that JavaScript is disabled in your browser. Would you like to proceed to legacy Twitter?

I think I get this error because Twitter remove legacy version from 1 June 2020.
I get this error in the Demo version as well.

How can I solve it? Thank you

[2020-07-13 11:24] gottfrois commented on #141
By default the gem passes its own UserAgent which is probably used by some website to check whether JS is available or not. Can you try changing the user agent to something like Chrome or Firefox would use?

https://github.com/gottfrois/link_thumbnailer/blob/master/lib/link_thumbnailer/configuration.rb#L42

You can change the config globally or per request.

[2020-07-18 06:09] msmiller commented on #141
Setting the agent doesn't seem to help:

[code]

[2020-07-23 00:11] 1dolinski commented on #141
Hi, thanks for raising this issue, I'm seeing the same.

Twitter returns `We've detected that JavaScript is disabled in your browser. Would you like to proceed to legacy Twitter?`
Google returns nil for the description

[code]

[2020-07-23 13:24] gottfrois commented on #141
I haven't tested myself but I don't see an easy solution for this. Is there a way to transform twitter-like URLs into their legacy website which supports non-js agents? Otherwise, it would mean adding JS rendering capability to the gem which is quite complex and adds a lot of deps.

[2020-07-23 20:06] msmiller commented on #141
There may be a way to trick their `nojs_router` but I tied a few things and it seems to reject any attempts.

[2020-07-24 09:32] rdlh opened #142 "Any "easy" way to implement "Accept-Language" header?"
Hi !

We're currently using a custom and fixed version of [socialcast/link_preview](https://github.com/socialcast/link_preview).
Is there a way to fetch URLs in a specific language using the "Accept-Language" header with `link_thumbnailer` ?

Cheers

[2020-07-24 09:58] gottfrois commented on #142
Hey @rdlh,

Yes it should be pretty straightforward since you can configure the HTTP headers to override on a per-call basis or globally using the built-in configuration option [here](https://github.com/gottfrois/link_thumbnailer/blob/507eff34624ee3e20e865500876439a8d47631c4/lib/link_thumbnailer/configuration.rb#L68):

[code]

[2020-07-24 09:58] #142 closed

[2020-07-24 10:00] gottfrois commented on #141
When you get the twitter response:

They don't include a redirection link in some custom HTTP header maybe? Is there a way to know the legacy URLs before and use them instead?

[2020-07-24 10:07] #136 closed

[2020-07-24 13:03] gottfrois commented on #132
@mbajur I've released a new version of [ImageInfo](https://github.com/gottfrois/image_info/releases/tag/v1.2.0) which fixes the issues with GIF files. I'm going to make a release of LinkThumnailer as well.

[2020-07-24 13:03] #132 closed

[2020-07-24 13:34] gottfrois commented on #123
Seems to work now with `v3.4.0`:

[code]

[2020-07-24 13:34] #123 closed

[2020-07-24 13:36] gottfrois commented on #120
Seems to work for me with `v3.4.0`:

[code]

[2020-07-24 13:36] #120 closed

[2020-07-24 13:37] gottfrois commented on #107
Doesn't raise anymore with `v3.4.0`:

[code]

[2020-07-24 13:37] #107 closed

[2020-07-24 13:38] gottfrois commented on #84
Closing this issue since i was not able to reproduce

[2020-07-24 13:38] #84 closed

[2020-07-24 13:42] gottfrois commented on #83
I've updated the gem description. Changing the gem name is just too much work and would break compatibility.
Thanks for you feedback folks!

[2020-07-24 13:42] #83 closed

[2020-07-28 08:17] srijan-kapoor opened #143 "Warning: URI.escape is obsolete"
`.rbenv/versions/2.7.1/lib/ruby/gems/2.7.0/gems/image_info-1.2.0/lib/image_info/image.rb:10: warning: URI.escape is obsolete`

I'm seeing this warning each time I trigger the `link-thumbnailer`. Any ideas on how this can be fixed or suppressed?

[code]

[2020-07-28 15:46] gottfrois commented on #143
Thanks for reporting this issue. It was interesting to find out why this is popping up.
I've found some explanations here https://docs.knapsackpro.com/2020/uri-escape-is-obsolete-percent-encoding-your-query-string

I'll see what I can do on the image_info gem.

[2020-07-28 18:38] srijan-kapoor commented on #143
Yeah that's the only helpful explanation I came across when I looked it up.

Thank you for considering it.

[2020-07-31 20:44] eddietejeda opened #144 "warning: no framework detected."
Great library. I use it in a Sinatra app, but I always see this error message when it boots:

https://github.com/gottfrois/link_thumbnailer/blob/master/lib/link_thumbnailer.rb#L30

Is this message necessary? Especially since the documentation says "Works with and without Rails."

[2020-08-02 18:22] msmiller commented on #141
It does provide a URL, but I had no luck trying to spoof it. I didn't really put much time into it though.

[code]

[2020-08-03 09:13] gottfrois commented on #144
Thanks @eddietejeda for bringing this up.
I think you are right, this is not very useful and I could actually remove all the rails related parts since the gem doesn't really hook with rails in anyway.

[2020-08-03 10:27] gottfrois commented on #144
I've removed the code related to rails. It will be gone in the next release 👍

[2020-08-03 10:27] #144 closed

[2020-08-04 06:47] srijan-kapoor commented on #143
I have tried to percent-encode my query string - to escape these warnings - and pass it as

[code]
but I see this returned

[code]

Just curious if it doesn't support the encoded url string or if I'm missing something here. Thanks!

[2020-08-14 08:29] gottfrois commented on #143
The gem will attempt to parse the given url using the following code:

[code]

and consider valid url if `url.is_a?(::URI::HTTP)`

[2021-03-18 10:19] vedmant commented on #138
Are there plans for new release with direct html parsing support? I'd use that.

[2021-03-31 12:27] mitesh-kumar opened #145 "403 "Forbidden" (LinkThumbnailer::HTTPError)"
I am getting error with Https://app.asana.com/0/11996253
69654937/list as 403 "Forbidden" (LinkThumbnailer::HTTPError). Can anyone resolved this or I am missing something . I am using ruby 2.6.1.

[2021-06-14 07:12] gottfrois commented on #138
No plans really but I'd gladly accept a PR

[2021-06-14 07:13] gottfrois commented on #145
403 means this page is protected behind user credentials. You'll need to provide credentials, most likely with an HTTP Authorization header.

[2021-06-14 07:13] #145 closed

[2021-08-17 00:38] corejh opened #146 "Blocked by CORs policy"
Hey there, does this gem work anymore? On the example http://link-thumbnailer-demo.herokuapp.com/ the application throws CORs errors whenever I try on chrome or firefox.

If this gem isn't supported anymore, does anybody have any alternatives?

[2021-08-17 07:48] gottfrois commented on #146
Hey @corejh, this is because you are on the non https version of the website and the script tries to send a request on with https which triggers the CORS error.

Head to https://link-thumbnailer-demo.herokuapp.com/ and it works fine.

[2021-08-17 07:48] #146 closed

[2021-08-30 16:41] cameronmccord2 opened #147 "Nil ref for an invalid node's href's value"
We're getting a NoMethodError when the Favicon scraper is trying to get the href attribute from a node. The node exists but not the href attribute.

The url its failing on is: https://vm.tiktok.com/ZMRkMaRGr/

/gems/link_thumbnailer-3.4.0/lib/link_thumbnailer/scrapers/default/favicon.rb:28 in href
/gems/link_thumbnailer-3.4.0/lib/link_thumbnailer/scrapers/default/favicon.rb:12 in value
/gems/link_

[2021-09-01 07:36] #147 closed

[2021-09-25 12:50] epugh opened #149 "Demo Server failing due to CORS!"
I wanted to try out the demo server, to see how this worked, but am getting CORS errors:

[code]

[2021-09-30 07:38] gottfrois commented on #149
From the demo page our are you using this URL on your web app directly?

[2021-10-06 14:06] johansenja opened #150 "Freezing for certain urls"
I have two urls where this is currently the case:
`https://www.gov.uk/government/organisations/department-of-health`
and
`https://www.gov.uk/ccs`

and I encounter it just with `LinkThumbnailer.generate(url)`.

If I do this in irb then interrupt the process, I can trace it back to https://github.com/ruby/ruby/blob/d53493715cd1a1463b98291e0ad92e2723236698/ext/openssl/lib/openssl/buffering.rb#L81, wh

[2021-11-01 08:58] haseebeqx opened #151 "Crashes when using in a url without image"
When I run,
[code]
it is generating the error

[2021-11-30 07:25] shivamsinghchahar opened #152 "NoMethodError for favicon"
[code]

I'm getting this error with this particular URL, other URLs seem to be working fine. Any ideas on what the issue might be?

[code]

[2021-12-23 09:51] #149 closed

[2022-10-21 00:17] noctivityinc opened #153 "Crashes running in development"
Im trying to use this in ruby 2.7.6 and get the following error:

[code]

[2022-10-24 08:41] gottfrois commented on #153
Hey there!

Can you make sure `Libcurl` is properly setup on your computer? Looks like it's calling it.

[2022-10-25 14:07] noctivityinc commented on #153
Thanks.  Are you saying this is a libcurl bug and not something in your
gem?

On Oct 24, 2022 at 4:41:14 AM, Pierre-Louis Gottfrois <
***@***.***> wrote: